@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
/* common_style section */
.common_style>section {
    padding: 50px 0;
  }
  
  .common_style .row {
    align-items: auto;
  }

  .common_style {
    display: flex;
    justify-content: flex-end;
  }
  
  .common_style h3 {
    font-weight: 600;
    color: #151516;
  }
  
  .common_style p {
    font-weight: 600;
    color: #ffffff;
    margin: 30px 0 50px 0;
  }
  
  .common_style img {
    width: 100%;
  }

  /* about section */
.about_section {
    text-align: justify;
  }
  
  .about_section a {
    background-color: #6ebca8;
    color: #fefeff;
  }

  @media (min-width: 768px) {
    .container {
        max-width: 1250px;
    }

}


body {
  @apply bg-blue-300;
}

h1 {
  color: rgb(255, 255, 255);
}

/*Botón Navbar  */
.button {
  display: inline-block;
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  margin: 1px;
  border: 1px solid #000; /* Color del borde */
  border-radius: 8px; /* Bordes redondeados */
  background-color: #53cfa0; /* Color de fondo */
  color: white; /* Color del texto */
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Tamaño del texto */
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #53cfa0a2; /* Color de fondo al pasar el ratón */
  color: #fff; /* Color del texto al pasar el ratón */
}